@charset "utf-8";

/*
   Author: Dustin Gregerson
   Date: 2/1/2023
*/


/* This style is used to override the browsers default display
		This is incase a older browser does not automaticly set
			the display to a block for each element
	*/
article, aside, figcaption, figure,
footer, header, main, nav, section {
    display: block;
}
/* blank slate */
address, article, aside, blockquote, body, cite,
div, dl, dt, dd, em, figcaption, figure, footer,
h1, h2, h3, h4, h5, h6, header, html, img,
li, main, nav, ol, p, section, span, ul {
    background: transparent;
    font-size: 100%;
    /* This removes defualt spacing*/
    margin: 0;
    padding: 0;
    /* makes all text align with the other text inline*/
    vertical-align: baseline;
    /* This applys a border-box style to all elements*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
