@model CubeModel

<!--
    Author: Dustin Gregerson
    Date: 9/16/22
    Description:

    Outputs a error message or the cubic area to the user

-->

@{
    ViewBag.Title = "Results";
}

<body>
    @{
        Model.ValidateStrings();

    }
    <!-- Error message segment -->
    @if (Model.bitFlags > 0) {
            <div id="error_messages">
            <h1>Error</h1>
            @Html.Raw(Model.ErrorMessageParser())
            </div>
    }
    else
    // results segment
    {
        <div id="entered_input_and_results">
            <h1>Results</h1>
            <div>width=@Model.width</div>
            <div>height=@Model.height</div>
            <div>length=@Model.length</div>
            <div>cubic area = @Model.calcCube()</div>
        </div>
    }
</body>
